<div class="banner">
  <div class="page-background text-center d-flex flex-column justify-content-center">
  <div class="container">
  <div class="pet-search-form">
    <form action="/pets" method="get" id="searchform">
      <input type="text" name="query" placeholder="Browse pets" id="pet-query">
      <input type="submit" value="Search a pet">
    </form>
  </div>
  <br>
    <h1> <strong>PETZOTIC</strong></h1>

    <p>Rent pinguins to impress your guests tonight.</p>

  </div>
</div>
