// Define variables for your color scheme

// For example:
$red: #FD1015;
$light-red: rgba(253, 16, 21, 0.2);
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-green: rgba(30, 221, 136, 0.2);
$gray: #0E0000;
$medium-gray: #717171;
$light-gray: #F4F4F4;
