.pet-show {
  min-height: calc(100vh - 70px) ;
}

.pet-show img {
  width: 100%;
  background-size: cover;
}

.btn {
  justify-content: end;
}

.grid {
  display: grid;
}

.well {
  height: 400px;
}

.well-titre {
  height: 100%;
  // background-size: cover;
}

/*@media()*/
