.content {
  display: flex;
}

.cards-pet {
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
  top: 0;
}

.card-pet {
  border-radius: 4px;
  background: white;
  box-shadow: 0, 10px, 30px, rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-right: 16px;
  align-items: center;
  h1 {
    color: $gray;
  }
}

.card-pet img {
  // height: 100%;
  width: 240px;
  object-fit: cover;
}

.card-info {
  padding: 16px;
}

#map {
  //height: 100vh;
  position: sticky;
  top: 0;
 }

.card-description {
  overflow: hidden;
  height: 70px;
}

.card-dashboard {
  padding: 16px;
  border-radius: 4px;
  background: white;
  box-shadow: 0, 10px, 30px, rgba(0, 0, 0, 0.1);
  margin: 16px;

  h1 {
    color: $gray;
  }

  a {

  }
}

.card-dashboard-menu {
  padding: 16px;
  margin: 16px;
  text-align: center;

  h1 {
    color: $gray;
  }
}
