.content {
  display: flex;
}

.item {
  flex-grow: 1;
}

.card-display-column {
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
  top: 0;
}

.card-index {
  height: 232px;
  width: 800px;
  border-radius: 4px;
  background: white;
  box-shadow: 0px, 10px, 30px, rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 16px;
  align-items: center;
  color: $medium-gray;
  h1 {
    color: $gray;
  }
  &:hover {
    transform:scale(1.02);
    transition: all 0.5s;
  }
}

.card-index-photo {
  width: 200px;
  height: 200px;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }
}

.card-index-info {
  padding-left: 16px;
}

.card-index-header {
  display: flex;
}

.card-index-description {
  overflow: hidden;
  height: 50px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
 }

.card-dashboard {
  padding: 16px;
  border-radius: 4px;
  background: white;
  box-shadow: 0, 10px, 30px, rgba(0, 0, 0, 0.1);
  margin: 16px;

  h1 {
    color: $gray;
  }
  p {
    color: $medium-gray;
  }
}

.card-dashboard-header {
  display: flex;
  justify-content: space-between;
  background: white;
  margin-bottom: 16px;
  align-items: start;

  h1 {
    color: $green;
  }
}

.card-dashboard-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 16px;
  padding-top: 32px;

  h1 {
    color: white;
  }
}

.text-bottom {
  text-align: end;
}

#daily-rate p {
  color: $gray;
  margin: 0px;
}
