.content {
  display: flex;
}

.cards {
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
  top: 0;
}

.card-pet {
  border-radius: 4px;
  background: white;
  box-shadow: 0, 0, 15px, rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  padding-right: 16px;
  h1 {
    color: $gray;
  }
}

.card-img {
  background: cover;
  border-radius: 4px;
}

.card-info {
  margin-right: 16px;
}

#map {
  //height: 100vh;
  position: sticky;
  top: 0;
}
