.navbar-lewagon {
  justify-content: space-between;
  background-image: url("navbar-img5.jpg"); //previously: background: white
  align-items: center;
}

.navbar-lewagon h1 {
  color: white;
  margin: 0;
}

.navbar-lewagon .menu-item {
  color: white;
  margin-right: 16px;

  &:hover {
    text-decoration: underline;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}

.navbar-brand-with-title {
  display: flex;
  align-items: center;
}
