.user-pet-card {
  background-color:white;
  width: 216px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  align-items: center;
  padding: 8px;
  margin: 8px;

  &:hover {
    transform:scale(1.02);
    transition: all 0.5s;
  }

  .links{
    color: $medium-gray;
    &:hover {
      color: $green;
    }
  }
}

.user-pet-card-photo {
  height: 100%;
}

.user-pet-card-info {
  align-items: flex-start;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;

  p {
    margin: 0;
  }
}

.user-pets-display {
  // display: grid;
  display: flex;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 8px;
  overflow: scroll;
  height: 380px;
}

.dashboard-background {
  background-image: url(leaves4.jpg);
  background-size: cover;
  top: 0;
  position: sticky;
  margin-top: -16px;
  // height: 100vh;
}

.column-60 {
  width: 60%;
  padding-right: 40px;

  h5 {
    margin: 0px;
    color: $medium-gray;
  }
}

.column-40 {
  width: 40%;

  h5 {
    margin: 0px;
    color: $medium-gray;
  }
}

.owner-booking-card {
  display: flex;
  background-color: white;
  height: 108px;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  margin-bottom: 16px;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 4px;
  }

  .info {
    flex-grow: 1;
    padding-left: 8px;

    h4 {
      margin: 0;

      .right {
        color: $gray;
        margin-right: 8px;
      }
    }

    p {
      margin: 0;
    }
  }

  .status {
    display: block;
    padding-top: 4px;
    padding-right: 4px;

    p {
      margin: 0px;
    }
  }

  .scroll {
    overflow: scroll;
  }
}

#confirmed {
  color: $green;
  background-color: $light-green;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;;
}

#pending {
  color: $red;
  background-color: $light-red;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;;
}

#rejected {
  color: $gray;
  background-color: $light-gray;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;;
}

#no_margin {
  margin: 0px;
}

.owner-bookings-display {
  height: 380px;
  overflow: scroll;
  padding: 8px;
}

.user-bookings-display {
  display: flex;
  // justify-content: space-between;
  overflow: scroll;
}

.user-booking-card {
  display: flex;
  background-color: white;
  // height: 108px;
  // width: 100%;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  margin-bottom: 16px;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 4px;
  }

  .info {
    flex-grow: 1;
    padding-left: 8px;

    h4 {
      margin: 0;

      .right {
        color: $gray;
        margin-right: 8px;
      }
    }

    p {
      margin: 0;
    }
  }
}
