.user-pet-card {
  width: 216px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  align-items: center;
  padding: 8px;

  &:hover {
    transform:scale(1.02);
    transition: all 0.5s;
  }

  .links{
    color: $medium-gray;
    &:hover {
      color: $green;
    }
  }
}

.user-pet-card-photo {
  height: 100%;
}

.user-pet-card-info {
  align-items: flex-start;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;

  p {
    margin: 0;
  }
}

.card-dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.dashboard-background {
  background-image: url("leaves.jpg");
  background-size: cover;
}

.column-60 {
  width: 60%;
}

.column-40 {
  width: 40%;
}

.owner-booking-card {
  display: flex;
  background-color: white;
  height: 100px;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  margin-bottom: 4px;

  img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 4px;
  }

  .info {
    flex-grow: 1;
    padding-left: 8px;

    h4 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .action {
    display: block;
  }

  .scroll {
    overflow: scroll;
  }
}
